<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.soucelab.test.Testcase1">
      <parameter name="grantPermissions" value="true"></parameter>
      <parameter name="noReset" value="false"></parameter>
      <parameter name="udid" value="emulator-5554"></parameter>
      <parameter name="deviceName" value="androidEmulator"></parameter>
      <parameter name="platformName" value="Android"></parameter>
      <methods>
      <include name="loginIntoAppWithValidCredentials"></include>
      <include name="loginIntoAppWithInValidCredentials"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
